$color-default: #ff6f31;
$color-default-hover: #f83a00;
$color-grey-2: #ddd;
$color-grey-dark: #1f1f1f;
$color-grey-light: #fafafa;
$color-gray: #43484d;
$color-grey: #43484d;
$color-black-1: #898989;
$color-black: #000000;
$color-white: #ffffff;
$color-neutral: #f6f6f4;
$color-red: #ed2a21;
$color-white: #fff;
$color-cyan: #00bceb;
$color-green: #6aa94b;
$color-yellow: #ffa534;
$color-white-1: #f7f7f7;
$color-white-2: #f0f0f0;

$font-primary: 'Poppins';
$font-secondary: 'Roboto';

$radius: 5px;

$phone-width: 767px;
$tablet-width: 991px;
