.header {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  font-weight: 500;

  .header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    color: #313541;

    .header-left__logo {
      margin-left: 105px;
      margin-right: 70px;
    }

    .header-left__menu {
      #links {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        li.current a {
          color: #1db199;
          font-weight: bold;
        }

        li a {
          padding: 10px;
          color: black;
          text-decoration: none;
        }

        li a:hover {
          color: #1db199;
        }
      }
      &__item {
        height: 290%;
      }
    }
  }

  .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    &__items {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
      margin-top: 10px;

      li {
        padding: 5px 10px;
      }

      li.current a,
      img {
        color: #1db199;
        font-weight: bold;
      }

      li a {
        padding: 10px;
        color: black;
        text-decoration: none;
      }

      li a:hover,
      img:hover {
        color: #1db199;
      }

      li.header-right__items__login {
        div {
          border: 1px solid #4dbba6;
          padding: 3px 7px;
          border-radius: 19px;
        }

        a {
          width: 96px;
          height: 28px;
          border-radius: 19px;
        }
      }

      li.header-right__items__support {
        padding-right: 161px;
        margin: auto;
      }
    }
  }
}
