.imp-information {
  height: 66px;
  background-color: #e7edfa;
  font-family: Roboto;
  font-size: 24px;
  line-height: 2.39;
  text-align: center;
  color: #4d565a;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;

    img {
      width: 14px;
    }
  }
}
