.connection-check__section {
  background: linear-gradient(
      315deg,
      rgba(135, 162, 234, 0),
      rgba(135, 162, 234, 0.5),
      rgba(135, 162, 234, 0) 70%
    ),
    linear-gradient(
      225deg,
      rgba(135, 162, 234, 0),
      rgba(135, 162, 234, 0.5),
      rgba(135, 162, 234, 0) 70%
    ),
    linear-gradient(
      135deg,
      rgba(124, 232, 211, 0),
      rgba(124, 232, 211, 0.5),
      rgba(124, 232, 211, 0) 70%
    ),
    linear-gradient(
      45deg,
      rgba(124, 232, 211, 0),
      rgba(124, 232, 211, 0.5),
      rgba(124, 232, 211, 0) 70%
    );
}

.connection-top__hidden {
  height: 300px;
  margin-top: -100px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.01) 90%
  );
}

.connection-down__hidden {
  height: 300px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.01) 90%
  );
}
