.review-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 120px;

  .reviewconnection-blurtitle {
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    color: #f6f9ff;
    z-index: -100;
  }

  &__titlebar {
    font-family: Roboto;
    margin-top: 60px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.54;
    text-align: center;
    color: #313541;

    .review-section__line {
      width: 150px;
      height: 4px;
      background-color: #81d0d4;
      border-radius: 2px;
      margin: auto;
      margin-top: 18px;
    }
  }

  &__content {
    padding-top: 61px;

    #reviews {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: space-between;

      li {
        width: 330px;
        padding: 0px 20px;
      }
    }
  }
  .bar {
    margin-top: 100px;
    .bar-blurtitle {
      color: #f6f9ff;
    }
    &__titlebar {
      &-line {
        background-color: #81d0d4;
      }
    }
  }
}
