.moving-places {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 120px;
  &__content {
    padding-top: 61px;
    #reviews {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: space-between;
      li {
        width: 330px;
        padding: 0px 20px;
      }
    }
    &_header {
      font-family: Baloo;
      font-size: 20px;
      letter-spacing: 1px;
      text-align: center;
      color: #4d565a;
    }
  }
  .bar {
    .bar-blurtitle {
      color: #f6f9ff;
      margin-top: 100px;
    }
    &__titlebar {
      &-line {
        background-color: #81d0d4;
      }
    }
  }
}
