.nbn-help {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 124px 164px;
  background-color: #f6f9ff;

  &__left {
    text-align: left;

    &-title {
      font-family: Baloo;
      font-size: 28px;
      line-height: 1.54;
      color: #4d565a;
      margin-bottom: 10px;
    }

    &-content {
      font-family: Roboto;
      font-size: 14px;
      line-height: 1.57;
      color: #4d565a;
      margin-bottom: 24px;
    }

    &-phone {
      display: flex;
      align-items: center;
      font-family: Roboto;
      font-size: 18px;
      line-height: 2.39;
      color: #4d565a;
      margin-bottom: 17px;

      img {
        margin-right: 20px;
      }
    }

    &-email {
      display: flex;
      align-items: baseline;
      font-family: Roboto;
      font-size: 18px;
      line-height: 1.9;
      color: #4d565a;
      margin-bottom: 39px;

      img {
        margin-right: 20px;
      }
    }

    &-favicon {
      display: flex;
      align-items: center;

      &__one {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 4px 0 #e6eaec;
        margin-right: 15px;
      }
    }
  }
}
