.about__lock {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 120px;
  background-color: #f6f9ff;

  &-blurtitle {
    width: 100%;
    font-family: Roboto;
    font-size: 100px;
    font-weight: bold;
    padding-top: 120px;
    color: #ffffff;
    text-shadow: 2px 2px #eff2f4, -2px 2px #eff2f4, 2px -2px #eff2f4,
      -2px -2px #eff2f4;
  }

  &-title {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 600;
    line-height: 0.86;
    color: #4d565a;
    margin-top: -45px;
    margin-bottom: 25px;
  }

  &-titleline {
    width: 130px;
    height: 4px;
    background-color: #4dbba6;
    border-radius: 2px;
    margin: auto;
  }

  &-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-pad {
      width: 326px;
      height: 397px;
      border-radius: 6px;
      box-shadow: 0 2px 14px 0 #d5dbdc;
      background-color: #ffffff;
      margin-bottom: 120px;
      padding: 36px 28px 42px 36px;
      text-align: center;

      &__title {
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.39;
        text-align: center;
        color: #4dbba6;
        margin-top: 25px;
        margin-bottom: 25px;
        max-width: 220px;
        display: inline-flex;
      }

      &__txt {
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
        color: #313541;
        max-width: 290px;
        display: inline-flex;
      }
    }
  }
}
