.about__hello {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f6f9ff;

  &-img {
    width: 50%;
    margin-left: 200px;
    max-height: 400px;

    .explain-img__topleft {
      position: relative;
      left: 247px;
      top: -10px;
      width: 193px;
      height: 190px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: bold;
      background-color: #67cebb;
      color: #ffffff;
      border-radius: 12px;
      box-shadow: 0 2px 14px 0 #9eb0ba;
      z-index: 200;
      padding-left: 32px;
      padding-right: 20px;
      line-height: 2;
      padding-top: 38px;
      text-align: left;

      &-line {
        width: 80px;
        height: 4px;
        margin-bottom: 17px;
        background-color: #ffffff;
        border-radius: 2px;
      }

      &-text {
        width: 192px;
        font-size: 14px;
        font-weight: 500;
        line-height: 2;
        color: #ffffff;
      }
    }

    .explain-img__topright {
      position: relative;
      left: 80px;
      top: -237px;
      width: 209px;
      height: 209px;
      background-color: #ffffff;
      border-radius: 12px;

      img {
        margin-top: 26px;
      }
    }

    .explain-img__bottomleft {
      position: relative;
      left: 195px;
      top: -265px;
      width: 228px;
      height: 228px;
      border-radius: 12px;
      background-color: #3464aa;
      opacity: 0.14;
      z-index: 50;
    }

    .explain-img__bottomright {
      position: absolute;
      top: 303px;
      width: 400px;
      height: 275px;
      object-fit: contain;
      z-index: 100;

      img {
        position: absolute;
        left: 20px;
        bottom: 10px;
      }

      .explain-img-text {
        position: absolute;
        width: 87px;
        height: 87px;
        border-radius: 50%;
        left: 39%;
        top: 32%;
        border: 4px solid #9eb0ba55;

        .explain-img_button {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 28px;
          width: 59px;
          height: 59px;
          margin: auto;
          margin-top: 14px;
          border-radius: 50%;
          background-color: #ffffff;
          box-shadow: 0 2px 14px 0 #c5d2f0;
          color: #f89729;

          img {
            margin-left: 17px;
            margin-bottom: 11px;
          }
        }
      }
    }
  }

  &-txt {
    width: 50%;
    max-width: 650px;
    text-align: left;

    &__title {
      font-family: Baloo;
      font-size: 30px;
      line-height: 0.8;
      color: #4d565a;
      margin-bottom: 26px;
    }

    &__content {
      font-family: Roboto;
      font-size: 14px;
      line-height: 1.41;
      color: #313541;
      width: 636px;
      margin-bottom: 45px;
    }
  }
}
