.about__hello {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f6f9ff;

  &-img {
    width: 50%;
    margin-left: 200px;
    max-height: 400px;

    .explain-img__topleft {
      position: relative;
      left: 270px;
      top: -5px;
      width: 185px;
      height: 185px;
      font-family: Roboto;
      font-size: 24px;
      font-weight: bold;
      background-color: #67cebb;
      color: #ffffff;
      border-radius: 12px;
      box-shadow: 0 2px 14px 0 #9eb0ba;
      z-index: 200;
      padding-left: 38px;
      padding-top: 61px;
      text-align: left;

      &-line {
        width: 80px;
        height: 4px;
        margin-bottom: 50px;
        background-color: #ffffff;
        border-radius: 2px;
      }
    }

    .explain-img__topright {
      position: relative;
      left: 80px;
      top: -250px;
      width: 209px;
      height: 209px;
      background-color: #ffffff;
      border-radius: 12px;

      img {
        margin-top: 15px;
      }
    }

    .explain-img__bottomleft {
      position: relative;
      left: 240px;
      top: -250px;
      width: 228px;
      height: 228px;
      border-radius: 12px;
      background-color: #3464aa;
      opacity: 0.14;
      z-index: 50;
    }

    .explain-img__bottomright {
      position: absolute;
      top: 240px;
      width: 400px;
      height: 275px;
      object-fit: contain;
      z-index: 100;

      img {
        position: absolute;
        left: 20px;
        bottom: 10px;
      }

      .explain-img-text {
        position: absolute;
        width: 77px;
        height: 77px;
        border-radius: 50%;
        left: 42%;
        top: 36%;
        border: 4px lightgray solid;

        .explain-img_button {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 28px;
          width: 59px;
          height: 59px;
          margin: auto;
          margin-top: 8px;
          border-radius: 50%;
          background-color: #ffffff;
          border: 1px lightgray solid;
          color: #f89729;
        }
      }
    }
  }

  &-txt {
    width: 50%;
    max-width: 650px;
    margin-left: 105px;
    text-align: left;

    &__title {
      font-family: Baloo;
      font-size: 30px;
      line-height: 0.8;
      color: #4d565a;
      margin-bottom: 26px;
    }

    &__content {
      font-family: Roboto;
      font-size: 14px;
      line-height: 1.41;
      color: #313541;
      max-width: 630px;
      margin-bottom: 45px;
    }
  }
}
