.nbnconcept {
  &__blurtitle {
    font-size: 100px;
    font-weight: bold;
    color: #f6f9ff;
    z-index: -100;
    margin-top: 40px;
    margin-bottom: -45px;
  }

  &__title {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 600;
    line-height: 0.86;
    text-align: center;
    color: #4d565a;

    sup {
      font-size: 14px;
    }
  }

  &__titleline {
    width: 150px;
    height: 4px;
    background-color: #1db199;
    border-radius: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .nbnconcept__explained {
    width: 100%;

    &-first {
      width: 100%;
      display: flex;
      align-items: center;
      padding-bottom: 40px;

      .nbnconcept_exlained-txt {
        width: 765px;
        margin-left: 75px;
        text-align: left;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.71;
        color: #313541;

        sup {
          font-size: 9px;
        }
      }

      .nbnconcept_exlained-img {
        width: 45%;
        padding-left: 100px;
      }
    }

    &-second {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      .nbnconcept_exlained-img {
        width: 45%;
      }

      .nbnconcept_exlained-txt {
        width: 55%;
        max-width: 700px;
        text-align: left;
        margin-right: 100px;
        padding-left: 100px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.71;
        color: #313541;

        &__title {
          font-family: Baloo;
          font-size: 24px;
          color: #4d565a;
        }
      }
    }
  }

  &__understanding {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f6f9ff;

    &-img {
      width: 50%;
      margin-left: 105px;
      max-height: 400px;

      .explain-img__topleft {
        position: absolute;
        width: 205px;
        height: 205px;
        font-family: Roboto;
        font-size: 24px;
        font-weight: bold;
        background-color: #67cebb;
        color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 2px 14px 0 #9eb0ba;
        z-index: 200;
        padding-left: 38px;
        padding-top: 61px;
        text-align: left;

        &-line {
          width: 80px;
          height: 4px;
          margin-bottom: 50px;
          background-color: #ffffff;
          border-radius: 2px;
        }
      }

      .explain-img__topright {
        position: relative;
        left: 220px;
        top: 20px;
        width: 209px;
        height: 209px;
        background-color: #ffffff;
        border-radius: 12px;

        img {
          margin-top: 15px;
        }
      }

      .explain-img__bottomleft {
        position: relative;
        left: 35px;
        top: -35px;
        width: 228px;
        height: 228px;
        border-radius: 12px;
        background-color: #3464aa;
        opacity: 0.14;
        z-index: 50;
      }

      .explain-img__bottomright {
        position: relative;
        left: 74px;
        top: -355px;
        width: 400px;
        height: 275px;
        object-fit: contain;
        z-index: 100;

        img {
          position: absolute;
          left: 20px;
          bottom: 10px;
        }

        .explain-img-text {
          position: absolute;
          width: 77px;
          height: 77px;
          border-radius: 50%;
          left: 42%;
          top: 36%;
          border: 4px lightgray solid;

          .explain-img_button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            width: 59px;
            height: 59px;
            margin: auto;
            margin-top: 8px;
            border-radius: 50%;
            background-color: #ffffff;
            border: 1px lightgray solid;
            color: #f89729;
          }
        }
      }
    }

    &-txt {
      width: 50%;
      max-width: 650px;
      margin-right: 100px;
      text-align: left;

      &__first {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.71;
        padding-bottom: 30px;
        color: #313541;
        width: 602px;

        sup {
          font-size: 8px;
        }

        &-title {
          font-family: Baloo;
          font-size: 24px;
          line-height: 0.86;
          padding-bottom: 15px;
          color: #4d565a;

          sup {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      &__second {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.71;
        padding-bottom: 30px;
        color: #313541;
        width: 602px;

        sup {
          font-size: 8px;
        }

        &-title {
          font-family: Baloo;
          font-size: 20px;
          line-height: 0.86;
          padding-bottom: 15px;
          color: #4d565a;
        }
      }
    }
  }
}
.bg_concept {
  background-color: #f6f9ff;
}
