.easy-connection__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -100px;

  .easyconnection-blurtitle {
    position: absolute;
    font-size: 100px;
    color: #ffffff5c;
  }
}
.easy-connection__title {
  text-align: center;
  margin-top: 54px;
  z-index: 1;

  &-item {
    font-size: 28px;
    line-height: 1.36;
    color: #4d565a;
    font-weight: 550;
    text-align: center;
    padding: 10px;
  }

  &-line {
    width: 150px;
    height: 4px;
    background-color: #f89729;
    border-radius: 2px;
    margin: auto;
  }
}
.easy-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 100px 100px;

  .easy-connection__left-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: -86px;

    &-top,
    &-center,
    &-down {
      display: flex;
      flex-direction: column;
      font-family: Roboto;
      align-items: flex-end;
      margin-bottom: 200px;

      .description-curveline {
        width: fit-content;
        margin-right: 30px;
      }

      .section-description {
        text-align: right;

        &__title {
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          line-height: 2.39;
          margin-top: 8px;
        }

        &__content {
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          line-height: 1.57;
          width: 306px;
        }
      }
    }

    &-top {
      .section-description {
        margin-right: 167px;
        &__content {
          width: 326px;
        }
      }
    }

    &-down {
      margin-bottom: 100px;
      .section-description {
        margin-right: 211px;
        &__title {
          margin-top: 34px;
        }
      }
    }
  }

  .easy-connection__right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 171px;

    &-top,
    &-center,
    &-down {
      display: inline-flex;
      font-family: Roboto;
      align-items: flex-start;

      .description-curveline {
        width: fit-content;
        margin-left: 36.7px;
      }

      .section-description {
        text-align: left;

        &__title {
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          line-height: 2.39;
        }

        &__content {
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          line-height: 1.57;
          width: 304px;
        }
      }
    }

    &-top {
      margin-bottom: 295px;
      .description-curveline {
        margin-top: 10px;
      }

      .section-description {
        position: initial;
        margin-left: -6px;
        margin-top: 70px;
        &__content {
          width: 326px;
        }
      }
    }

    &-down {
      .description-curveline {
        margin-top: -35px;
        margin-left: 20px;
      }

      .section-description {
        margin-left: -10px;
        &__title {
          margin-top: 24px;
        }
      }
    }
  }

  .section-description {
    max-width: 365px;
  }
}

circle {
  stroke: #fff;
  fill: #fff;
  stroke-width: 1;
}
