.easy-connection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
      315deg,
      rgba(135, 162, 234, 0),
      rgba(114, 139, 207, 0.7),
      rgba(135, 162, 234, 0) 70%
    ),
    linear-gradient(
      225deg,
      rgba(135, 162, 234, 0),
      rgba(135, 162, 234, 0.7),
      rgba(135, 162, 234, 0) 70%
    ),
    linear-gradient(
      135deg,
      rgba(124, 232, 211, 0),
      rgba(124, 232, 211, 0.7),
      rgba(124, 232, 211, 0) 70%
    ),
    linear-gradient(
      45deg,
      rgba(124, 232, 211, 0),
      rgba(124, 232, 211, 0.7),
      rgba(124, 232, 211, 0) 70%
    );

  padding: 100px 100px;

  .easy-connection__left-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .section-description {
    max-width: 359px;
  }
}
