.easy-connection__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;

  .easyconnection-blurtitle {
    position: absolute;
    font-size: 100px;
    color: #f6f9f9;
    z-index: -100;
  }
}
.easy-connection__title {
  text-align: center;
  margin-top: 50px;

  &-item {
    font-size: 28px;
    line-height: 1.36;
    color: #4d565a;
    padding: 10px;
  }

  &-line {
    width: 150px;
    height: 4px;
    background-color: #f89729;
    border-radius: 2px;
    margin: auto;
  }
}
.easy-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 100px 100px;

  .easy-connection__left-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 600px;

    &-top,
    &-down {
      display: inline-flex;
      font-family: Roboto;

      .section-description {
        text-align: right;

        &__title {
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          line-height: 2.39;
        }

        &__content {
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          line-height: 1.57;
        }
      }

      .description-curveline {
        min-width: 200px;
        margin-top: -100px;
      }
    }

    &-down {
      margin-bottom: 100px;
    }
  }

  .easy-connection__right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 600px;

    &-top,
    &-down {
      display: inline-flex;
      font-family: Roboto;

      .section-description {
        text-align: left;

        &__title {
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          line-height: 2.39;
        }

        &__content {
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          line-height: 1.57;
        }
      }

      .description-curveline {
        min-width: 200px;
        margin-top: -100px;
      }
    }

    &-top {
      margin-top: 200px;
    }

    &-down {
      margin-bottom: -100px;
    }
  }

  .section-description {
    max-width: 359px;
  }
}

circle {
  stroke: #fff;
  fill: #fff;
  stroke-width: 1;
}
