.nbn-install {
  display: flex;

  &__left {
    width: 50%;
    padding: 82px 75px 114px 105px;
    background-color: #67cebb;

    &-title {
      font-family: Baloo;
      font-size: 24px;
      line-height: 1;
      color: #f6f9ff;
      margin-bottom: 36px;
    }

    &-content {
      font-family: Roboto;
      font-size: 14px;
      line-height: 1.57;
      color: #ffffff;
    }
  }

  &__right {
    width: 50%;
    background-color: #f6f9ff;
    padding: 83px 108px 112px 38px;

    &-title {
      font-family: Baloo;
      font-size: 24px;
      line-height: 1;
      color: #4d565a;
      margin-bottom: 33px;
    }

    &-img {
      margin-bottom: 33px;
    }

    &-content {
      font-family: Roboto;
      font-size: 14px;
      line-height: 1.57;
      color: #313541;
    }
  }

  .nbn-install__between {
    position: relative;
  }
}
