.benefit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: Roboto;

  &_image {
    padding-bottom: 31px;
  }

  &_title {
    padding-bottom: 8px;
    font-size: 20px;
    opacity: 0.55;
    font-weight: bold;
    line-height: 2.15;
  }

  &_desc {
    font-size: 14px;
    opacity: 0.55;
    font-size: 14px;
    line-height: 1.57;
    color: #313541;
  }
}
