.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 108px 52px 105px 105px;
  background-color: #4dbba6;

  .hero-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;

    .hero-action__title {
      font-family: Roboto;
      font-size: 34px;
      line-height: 1.47;
      color: #323c5a;
    }

    .hero-action__desc {
      font-size: 15px;
      line-height: 1.57;
      padding-top: 32px;
      color: #000000;
    }

    .hero-action__button {
      padding-top: 30px;
    }
  }

  .hero-cards {
    #links {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: space-between;

      li {
        padding: 0px 13px;
      }
    }
  }
}
