.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  .hero-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 105px;
  }

  .hero-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
