.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 108px 61px 105px 105px;

  .hero-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 407px;

    .hero-action__title {
      font-family: Baloo;
      font-size: 50px;
      line-height: 1;
      color: #ffffff;
    }

    .hero-action__desc {
      font-family: Roboto;
      font-size: 16px;
      line-height: 1.5;
      padding-top: 17px;
      color: #ffffff;
      font-weight: bold;
    }

    .hero-action__button {
      padding-top: 42px;
    }
  }

  .hero-cards {
    #links {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: space-between;

      li {
        padding: 0px 13px;
      }
    }
  }
}
