@import '~styles/variables';
@import '~styles/mixins';

.kreview {
  margin: 10px 0 20px;
  color: $color-gray;
  padding: 20px;
  border: 1px solid $color-grey-2;
  display: flex;
  flex-direction: row;

  // @media (max-width: $phone-width) {
  //   @include flexCol;
  //   margin: 20px 0;
  // }

  &--featured {
    border: none;
    padding: 35px 35px 35px 25px;
    background: $color-grey-light;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    .kreview__content-title {
      font-size: 22px;
    }
  }

  &__rating {
    margin-right: 20px;
    padding-bottom: 12px;
    .star-rating {
      font-size: 16px;
    }
  }
}
