.about__why {
  width: 100%;

  &-content {
    width: 100%;
    display: flex;
    align-items: center;

    &-left {
      width: 30%;
    }

    &-between {
      width: 40%;
    }

    &-right {
      width: 30%;
    }
  }
}
