.nbn_types {
  .nbntypes {
    width: 100%;
  }

  .nbnconcepts-section1 {
    width: 100%;

    &__img {
      width: 45%;
    }
  }

  .nbnconcepts-section2 {
    width: 100%;

    &__img {
      width: 45%;
    }
  }
}
