.footer {
  .footer__first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px 0px 50px;
    padding-bottom: 60px;
    border-bottom: 1px solid #b6b6b9;

    &_item {
      width: 300px;

      &-content {
        display: flex;
        flex-direction: column;

        img {
          margin-left: auto;
          margin-right: auto;
          display: block;
        }

        div {
          font-family: Roboto;
          font-size: 14px;
          font-weight: bold;
          padding-top: 10px;
          color: #4d565a;
        }
      }
    }

    .footer__first-section_item-end {
      width: 2px;
      height: 50px;
      background-color: #b6b6b9;
      border-radius: 2px;
      margin: auto;
    }
  }

  .footer__help-section {
    margin: 50px 50px;
    border-bottom: 1px solid #b6b6b9;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      width: 50%;
      padding-bottom: 50px;

      img {
        padding: 0px 25px;
      }
    }

    &__right {
      width: 50%;
      margin-top: -60px;
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 14px;

      .footer__help-section__right-title {
        font-weight: bold;
      }

      .footer__help-section__right-content {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          a {
            padding: 5px 0px;
            text-decoration: none;
            color: #4d565a;
          }
        }
      }
    }
  }
}
